.Main {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.Main .http {
    width: 3%;
    height: 3%;
}

.Main .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 1%;
}

.Main .search .clipboard {
    margin-left: 85%;
    padding: 0.5%;
    border: 1px solid black;
}


.Main .data form {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.Main .data form .search-input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.Main .search .input {
    font-size: 18px;
    margin-left: 1%;
}

.Main .data form button {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #f9f9f9;
    font-size: 1rem;
}

.Main .data form select {
    padding: 0.6rem;
    padding-right: 4%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #f9f9f9;
    font-size: 1rem;
}

.Main .data form select option {
    padding: 0.8rem;
    color: white;
    background-color: rgba(33, 33, 33, 255);
}

.Main .data form select option:hover {
    background-color: #3b3b3b;
}

.Main .view .load {
    margin: 8%;
    margin-bottom: 0%;
    margin-left: 32%;
}

.Main .view,
.Main .view li {
    margin-top: 2.5%;
}

.Main .view .intro {
    margin-right: 10%;
}

.Main .toast{
    margin-left: 38%;
    background-color: rgba(4,3,3);
    border-radius: 8px;
    color: white;
     width: 19%;
    padding: 1%;
}

@media (max-width: 480px) {

    .Main .data form input {
        padding: 0.4rem;
    }

    .Main .data form select {
        padding: 0.4rem;
        font-size: 0.9rem;
        padding-right: 4%;
    }

    .Main .data form button {
        padding: 0.4rem;
        font-size: 0.8rem;
    }

    .Main .http {
        width: 7%;
        height: 7%;
    }

    .Main .view .load {
        margin: 38%;
        margin-left: 18%;
        width: 65%;
        height: 65%;
        margin-bottom: 0%;
    }

    .Main .view {
        margin-top: 6.5%;
    }

    .Main .view li {
        margin-top: 8.5%;
    }

    .Main .search .clipboard {
        margin-left: 50%;
        padding: 1%;
        border: 1px solid black;
    }

    .Main .toast{
        margin: 4%;
        margin-top: 5%;
        width: 80%;
        border-radius: 4px;
        font-size: small;
        padding-left: 12%;
    }
}
