.icons {
    margin: 2%;
    padding: 2%;
    padding-left: 15%;
}

.icons ul {
    display: flex;
    padding: 5%;
    align-items: center;
    list-style: none;
    width: 50%;
}

.icons li {
    padding: 8%;
}

.icons a {
    transition: 0.5s ease;
}

.icons a:hover {
    color: #252828;
    box-shadow: 0 0 40px #2f3131;
}

@media (max-width: 480px) {
    .icons {
        margin-left: 15%;
    }

    .icons ul {

        flex-direction: column;
    }
}